# NOTE: for the docker-compose file
# rename file to .env

VERSION=0.0.0
CONTAINER_NAME=niagads-nextjs-template

# one of: prod, dev
BUILD=dev

# Docker network; all microservices should be on the same "network"
NETWORK=niagads-nextjs-template

# port mapping on host
PORT=3000

# flag indicating if build has Git dependendcies (i.e., install a npm package directly from a repo)
# 0 -> FALSE, 1 -> TRUE
GIT_DEPENDENCIES=0

# full path each on the host
# APPLICATION => project directory containing the application code
# LOG => directory for log files to be saved 
# FILES => directory containing external static files (e.g., genome browser tracks)
APPLICATION_DIR=
