# NOTE: this file is meant for client-side environmental variables, which must be prefixed with `NEXT_PUBLIC_`
# see https://nextjs.org/docs/pages/building-your-application/configuring/environment-variables

# rename file to .env

NEXT_PUBLIC_TRACK_COLLECTION=

NEXT_PUBLIC_PROJECT_NAME=
NEXT_PUBLIC_PROJECT_PUBLIC_URL=
NEXT_PUBLIC_EXPLORER_SERVICE_PATH=
NEXT_PUBLIC_EXPLORER_SERVICE_URL=
