# NOTE: this file is meant for client-side environmental variables, which must be prefixed with `NEXT_PUBLIC_`
# see https://nextjs.org/docs/pages/building-your-application/configuring/environment-variables

# rename file to .env

NEXT_PUBLIC_GENE_PK_FIELD=
NEXT_PUBLIC_GENE_DISPLAY_FIELD=

NEXT_PUBLIC_VARIANT_PK_FIELD=
NEXT_PUBLIC_VARIANT_DISPLAY_FIELD=

NEXT_PUBLIC_TRACK_PK_FIELD=track_id

NEXT_PUBLIC_TRACK_COLLECTION=